MandrakeClientBase/Service References/OTServiceReference/Mandrake.Model.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Mandrake.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Mandrake.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfOperation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Operation" nillable="true" type="tns:Operation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOperation" nillable="true" type="tns:ArrayOfOperation" />
  <xs:complexType name="Operation">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClientMessages" type="xs:long" />
      <xs:element minOccurs="0" name="CreatedAt" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ExecutedAt" type="xs:dateTime" />
      <xs:element minOccurs="0" name="OwnerId" type="ser:guid" />
      <xs:element minOccurs="0" name="ServerMessages" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Operation" nillable="true" type="tns:Operation" />
</xs:schema>