MandrakeClientBase/Service References/OTServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="OTAwareService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="TcpEndpoint_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256>
                </sp:Basic256>
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict>
                </sp:Strict>
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Mandrake.Management" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Mandrake.Service" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Mandrake.Model" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IOTAwareService_Register_InputMessage">
    <wsdl:part name="parameters" element="tns:Register" />
  </wsdl:message>
  <wsdl:message name="IOTAwareService_Register_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterResponse" />
  </wsdl:message>
  <wsdl:message name="IOTAwareService_Send_InputMessage">
    <wsdl:part name="parameters" element="tns:Send" />
  </wsdl:message>
  <wsdl:message name="IOTAwareService_Send_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendResponse" />
  </wsdl:message>
  <wsdl:message name="IOTAwareService_Hello_InputMessage">
    <wsdl:part name="parameters" element="tns:Hello" />
  </wsdl:message>
  <wsdl:message name="IOTAwareService_Hello_OutputMessage">
    <wsdl:part name="parameters" element="tns:HelloResponse" />
  </wsdl:message>
  <wsdl:message name="IOTAwareService_SendChatMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:SendChatMessage" />
  </wsdl:message>
  <wsdl:message name="IOTAwareService_SendChatMessage_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendChatMessageResponse" />
  </wsdl:message>
  <wsdl:message name="IOTAwareService_GetLog_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLog" />
  </wsdl:message>
  <wsdl:message name="IOTAwareService_GetLog_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLogResponse" />
  </wsdl:message>
  <wsdl:message name="IOTAwareService_GetDocuments_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDocuments" />
  </wsdl:message>
  <wsdl:message name="IOTAwareService_GetDocuments_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDocumentsResponse" />
  </wsdl:message>
  <wsdl:message name="IOTAwareService_CreateDocument_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateDocument" />
  </wsdl:message>
  <wsdl:message name="IOTAwareService_CreateDocument_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateDocumentResponse" />
  </wsdl:message>
  <wsdl:message name="IOTAwareService_OpenDocument_InputMessage">
    <wsdl:part name="parameters" element="tns:OpenDocument" />
  </wsdl:message>
  <wsdl:message name="IOTAwareService_OpenDocument_OutputMessage">
    <wsdl:part name="parameters" element="tns:OpenDocumentResponse" />
  </wsdl:message>
  <wsdl:message name="IOTAwareService_SynchronizeDocument_InputMessage">
    <wsdl:part name="parameters" element="tns:SynchronizeDocument" />
  </wsdl:message>
  <wsdl:message name="IOTAwareService_SynchronizeDocument_OutputMessage">
    <wsdl:part name="parameters" element="tns:SynchronizeDocumentResponse" />
  </wsdl:message>
  <wsdl:message name="IOTAwareService_UploadDocument_InputMessage">
    <wsdl:part name="parameters" element="tns:UploadDocument" />
  </wsdl:message>
  <wsdl:message name="IOTAwareService_UploadDocument_OutputMessage">
    <wsdl:part name="parameters" element="tns:UploadDocumentResponse" />
  </wsdl:message>
  <wsdl:message name="IOTAwareService_Forward_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:Forward" />
  </wsdl:message>
  <wsdl:message name="IOTAwareService_Forward_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ForwardResponse" />
  </wsdl:message>
  <wsdl:message name="IOTAwareService_SendAck_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:SendAck" />
  </wsdl:message>
  <wsdl:message name="IOTAwareService_SendAck_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:SendAckResponse" />
  </wsdl:message>
  <wsdl:message name="IOTAwareService_Echo_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:Echo" />
  </wsdl:message>
  <wsdl:message name="IOTAwareService_Echo_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:EchoResponse" />
  </wsdl:message>
  <wsdl:message name="IOTAwareService_ForwardChatMessage_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ForwardChatMessage" />
  </wsdl:message>
  <wsdl:message name="IOTAwareService_ForwardChatMessage_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ForwardChatMessageResponse" />
  </wsdl:message>
  <wsdl:message name="IOTAwareService_RegisterClient_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:RegisterClient" />
  </wsdl:message>
  <wsdl:message name="IOTAwareService_RegisterClient_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:RegisterClientResponse" />
  </wsdl:message>
  <wsdl:message name="IOTAwareService_NotifyDocumentCreated_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:NotifyDocumentCreated" />
  </wsdl:message>
  <wsdl:message name="IOTAwareService_NotifyDocumentCreated_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:NotifyDocumentCreatedResponse" />
  </wsdl:message>
  <wsdl:message name="IOTAwareService_NotifyDocumentOpened_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:NotifyDocumentOpened" />
  </wsdl:message>
  <wsdl:message name="IOTAwareService_NotifyDocumentOpened_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:NotifyDocumentOpenedResponse" />
  </wsdl:message>
  <wsdl:portType name="IOTAwareService">
    <wsdl:operation name="Register">
      <wsdl:input wsaw:Action="http://tempuri.org/IOTAwareService/Register" message="tns:IOTAwareService_Register_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOTAwareService/RegisterResponse" message="tns:IOTAwareService_Register_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Send">
      <wsdl:input wsaw:Action="http://tempuri.org/IOTAwareService/Send" message="tns:IOTAwareService_Send_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOTAwareService/SendResponse" message="tns:IOTAwareService_Send_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Hello">
      <wsdl:input wsaw:Action="http://tempuri.org/IOTAwareService/Hello" message="tns:IOTAwareService_Hello_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOTAwareService/HelloResponse" message="tns:IOTAwareService_Hello_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendChatMessage">
      <wsdl:input wsaw:Action="http://tempuri.org/IOTAwareService/SendChatMessage" message="tns:IOTAwareService_SendChatMessage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOTAwareService/SendChatMessageResponse" message="tns:IOTAwareService_SendChatMessage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLog">
      <wsdl:input wsaw:Action="http://tempuri.org/IOTAwareService/GetLog" message="tns:IOTAwareService_GetLog_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOTAwareService/GetLogResponse" message="tns:IOTAwareService_GetLog_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDocuments">
      <wsdl:input wsaw:Action="http://tempuri.org/IOTAwareService/GetDocuments" message="tns:IOTAwareService_GetDocuments_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOTAwareService/GetDocumentsResponse" message="tns:IOTAwareService_GetDocuments_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateDocument">
      <wsdl:input wsaw:Action="http://tempuri.org/IOTAwareService/CreateDocument" message="tns:IOTAwareService_CreateDocument_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOTAwareService/CreateDocumentResponse" message="tns:IOTAwareService_CreateDocument_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="OpenDocument">
      <wsdl:input wsaw:Action="http://tempuri.org/IOTAwareService/OpenDocument" message="tns:IOTAwareService_OpenDocument_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOTAwareService/OpenDocumentResponse" message="tns:IOTAwareService_OpenDocument_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SynchronizeDocument">
      <wsdl:input wsaw:Action="http://tempuri.org/IOTAwareService/SynchronizeDocument" message="tns:IOTAwareService_SynchronizeDocument_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOTAwareService/SynchronizeDocumentResponse" message="tns:IOTAwareService_SynchronizeDocument_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UploadDocument">
      <wsdl:input wsaw:Action="http://tempuri.org/IOTAwareService/UploadDocument" message="tns:IOTAwareService_UploadDocument_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOTAwareService/UploadDocumentResponse" message="tns:IOTAwareService_UploadDocument_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Forward">
      <wsdl:output wsaw:Action="http://tempuri.org/IOTAwareService/Forward" message="tns:IOTAwareService_Forward_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IOTAwareService/ForwardResponse" message="tns:IOTAwareService_Forward_InputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendAck">
      <wsdl:output wsaw:Action="http://tempuri.org/IOTAwareService/SendAck" message="tns:IOTAwareService_SendAck_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IOTAwareService/SendAckResponse" message="tns:IOTAwareService_SendAck_InputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="Echo">
      <wsdl:output wsaw:Action="http://tempuri.org/IOTAwareService/Echo" message="tns:IOTAwareService_Echo_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IOTAwareService/EchoResponse" message="tns:IOTAwareService_Echo_InputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="ForwardChatMessage">
      <wsdl:output wsaw:Action="http://tempuri.org/IOTAwareService/ForwardChatMessage" message="tns:IOTAwareService_ForwardChatMessage_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IOTAwareService/ForwardChatMessageResponse" message="tns:IOTAwareService_ForwardChatMessage_InputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegisterClient">
      <wsdl:output wsaw:Action="http://tempuri.org/IOTAwareService/RegisterClient" message="tns:IOTAwareService_RegisterClient_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IOTAwareService/RegisterClientResponse" message="tns:IOTAwareService_RegisterClient_InputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="NotifyDocumentCreated">
      <wsdl:output wsaw:Action="http://tempuri.org/IOTAwareService/NotifyDocumentCreated" message="tns:IOTAwareService_NotifyDocumentCreated_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IOTAwareService/NotifyDocumentCreatedResponse" message="tns:IOTAwareService_NotifyDocumentCreated_InputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="NotifyDocumentOpened">
      <wsdl:output wsaw:Action="http://tempuri.org/IOTAwareService/NotifyDocumentOpened" message="tns:IOTAwareService_NotifyDocumentOpened_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IOTAwareService/NotifyDocumentOpenedResponse" message="tns:IOTAwareService_NotifyDocumentOpened_InputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TcpEndpoint" type="tns:IOTAwareService">
    <wsp:PolicyReference URI="#TcpEndpoint_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="Register">
      <soap12:operation soapAction="http://tempuri.org/IOTAwareService/Register" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Send">
      <soap12:operation soapAction="http://tempuri.org/IOTAwareService/Send" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Hello">
      <soap12:operation soapAction="http://tempuri.org/IOTAwareService/Hello" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendChatMessage">
      <soap12:operation soapAction="http://tempuri.org/IOTAwareService/SendChatMessage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLog">
      <soap12:operation soapAction="http://tempuri.org/IOTAwareService/GetLog" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDocuments">
      <soap12:operation soapAction="http://tempuri.org/IOTAwareService/GetDocuments" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateDocument">
      <soap12:operation soapAction="http://tempuri.org/IOTAwareService/CreateDocument" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OpenDocument">
      <soap12:operation soapAction="http://tempuri.org/IOTAwareService/OpenDocument" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SynchronizeDocument">
      <soap12:operation soapAction="http://tempuri.org/IOTAwareService/SynchronizeDocument" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadDocument">
      <soap12:operation soapAction="http://tempuri.org/IOTAwareService/UploadDocument" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Forward">
      <soap12:operation soapAction="http://tempuri.org/IOTAwareService/Forward" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendAck">
      <soap12:operation soapAction="http://tempuri.org/IOTAwareService/SendAck" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Echo">
      <soap12:operation soapAction="http://tempuri.org/IOTAwareService/Echo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ForwardChatMessage">
      <soap12:operation soapAction="http://tempuri.org/IOTAwareService/ForwardChatMessage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterClient">
      <soap12:operation soapAction="http://tempuri.org/IOTAwareService/RegisterClient" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NotifyDocumentCreated">
      <soap12:operation soapAction="http://tempuri.org/IOTAwareService/NotifyDocumentCreated" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NotifyDocumentOpened">
      <soap12:operation soapAction="http://tempuri.org/IOTAwareService/NotifyDocumentOpened" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OTAwareService">
    <wsdl:port name="TcpEndpoint" binding="tns:TcpEndpoint">
      <soap12:address location="net.tcp://localhost:8062/OTService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8062/OTService</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>ARROW\Peter</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>