MandrakeClientBase/Service References/OTServiceReference/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Mandrake.Management" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Mandrake.Service" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Mandrake.Model" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="Register">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Mandrake.Management" minOccurs="0" name="msg" nillable="true" type="q1:ClientMetaData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Mandrake.Management" minOccurs="0" name="RegisterResult" nillable="true" type="q2:ArrayOfClientMetaData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Send">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Mandrake.Service" minOccurs="0" name="message" nillable="true" type="q3:OTMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Hello">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="msg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HelloResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SendChatMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Mandrake.Management" minOccurs="0" name="msg" nillable="true" type="q4:ChatMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendChatMessageResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLog">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Mandrake.Management" minOccurs="0" name="document" nillable="true" type="q5:DocumentMetaData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLogResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Mandrake.Model" minOccurs="0" name="GetLogResult" nillable="true" type="q6:ArrayOfOperation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocuments">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetDocumentsResult" nillable="true" type="q7:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateDocument">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Mandrake.Management" minOccurs="0" name="document" nillable="true" type="q8:DocumentMetaData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateDocumentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateDocumentResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OpenDocument">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Mandrake.Management" minOccurs="0" name="document" nillable="true" type="q9:DocumentMetaData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OpenDocumentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OpenDocumentResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SynchronizeDocument">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Mandrake.Management" minOccurs="0" name="document" nillable="true" type="q10:DocumentMetaData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SynchronizeDocumentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SynchronizeDocumentResult" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadDocument">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Mandrake.Management" minOccurs="0" name="meta" nillable="true" type="q11:DocumentMetaData" />
        <xs:element minOccurs="0" name="content" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadDocumentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UploadDocumentResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Forward">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Mandrake.Service" minOccurs="0" name="message" nillable="true" type="q12:OTMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ForwardResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SendAck">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Mandrake.Service" minOccurs="0" name="ack" nillable="true" type="q13:OTAck" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendAckResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Echo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="msg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EchoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ForwardChatMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Mandrake.Management" minOccurs="0" name="msg" nillable="true" type="q14:ChatMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ForwardChatMessageResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterClient">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Mandrake.Management" minOccurs="0" name="meta" nillable="true" type="q15:ClientMetaData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterClientResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="NotifyDocumentCreated">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotifyDocumentCreatedResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="NotifyDocumentOpened">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotifyDocumentOpenedResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>