MandrakeClient/Service References/OTServiceReference/Mandrake.Model.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Mandrake.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Mandrake.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfOperation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Operation" nillable="true" type="tns:Operation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOperation" nillable="true" type="tns:ArrayOfOperation" />
  <xs:complexType name="Operation">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClientMessages" type="xs:long" />
      <xs:element minOccurs="0" name="CreatedAt" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ExecutedAt" type="xs:dateTime" />
      <xs:element minOccurs="0" name="OwnerId" type="ser:guid" />
      <xs:element minOccurs="0" name="ServerMessages" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Operation" nillable="true" type="tns:Operation" />
  <xs:complexType name="SinglePositionOperation">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Operation">
        <xs:sequence>
          <xs:element minOccurs="0" name="Position" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SinglePositionOperation" nillable="true" type="tns:SinglePositionOperation" />
  <xs:complexType name="InsertOperation">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:SinglePositionOperation">
        <xs:sequence>
          <xs:element minOccurs="0" name="Literal" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="InsertOperation" nillable="true" type="tns:InsertOperation" />
  <xs:complexType name="IntervalOperation">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Operation">
        <xs:sequence>
          <xs:element minOccurs="0" name="EndPosition" type="xs:int" />
          <xs:element minOccurs="0" name="StartPosition" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="IntervalOperation" nillable="true" type="tns:IntervalOperation" />
  <xs:complexType name="DeleteOperation">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:IntervalOperation">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DeleteOperation" nillable="true" type="tns:DeleteOperation" />
</xs:schema>