MandrakeClient/Service References/OTServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="OTAwareService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="TcpEndpoint_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256>
                </sp:Basic256>
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict>
                </sp:Strict>
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Mandrake.Service" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Mandrake.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IOTAwareService_Register_InputMessage">
    <wsdl:part name="parameters" element="tns:Register" />
  </wsdl:message>
  <wsdl:message name="IOTAwareService_Register_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterResponse" />
  </wsdl:message>
  <wsdl:message name="IOTAwareService_Send_InputMessage">
    <wsdl:part name="parameters" element="tns:Send" />
  </wsdl:message>
  <wsdl:message name="IOTAwareService_Send_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendResponse" />
  </wsdl:message>
  <wsdl:message name="IOTAwareService_Hello_InputMessage">
    <wsdl:part name="parameters" element="tns:Hello" />
  </wsdl:message>
  <wsdl:message name="IOTAwareService_Hello_OutputMessage">
    <wsdl:part name="parameters" element="tns:HelloResponse" />
  </wsdl:message>
  <wsdl:message name="IOTAwareService_Forward_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:Forward" />
  </wsdl:message>
  <wsdl:message name="IOTAwareService_Forward_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ForwardResponse" />
  </wsdl:message>
  <wsdl:message name="IOTAwareService_SendAck_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:SendAck" />
  </wsdl:message>
  <wsdl:message name="IOTAwareService_SendAck_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:SendAckResponse" />
  </wsdl:message>
  <wsdl:message name="IOTAwareService_Synchronize_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:Synchronize" />
  </wsdl:message>
  <wsdl:message name="IOTAwareService_Synchronize_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:SynchronizeResponse" />
  </wsdl:message>
  <wsdl:message name="IOTAwareService_Echo_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:Echo" />
  </wsdl:message>
  <wsdl:message name="IOTAwareService_Echo_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:EchoResponse" />
  </wsdl:message>
  <wsdl:portType name="IOTAwareService">
    <wsdl:operation name="Register">
      <wsdl:input wsaw:Action="http://tempuri.org/IOTAwareService/Register" message="tns:IOTAwareService_Register_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOTAwareService/RegisterResponse" message="tns:IOTAwareService_Register_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Send">
      <wsdl:input wsaw:Action="http://tempuri.org/IOTAwareService/Send" message="tns:IOTAwareService_Send_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOTAwareService/SendResponse" message="tns:IOTAwareService_Send_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Hello">
      <wsdl:input wsaw:Action="http://tempuri.org/IOTAwareService/Hello" message="tns:IOTAwareService_Hello_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOTAwareService/HelloResponse" message="tns:IOTAwareService_Hello_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Forward">
      <wsdl:output wsaw:Action="http://tempuri.org/IOTAwareService/Forward" message="tns:IOTAwareService_Forward_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IOTAwareService/ForwardResponse" message="tns:IOTAwareService_Forward_InputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendAck">
      <wsdl:output wsaw:Action="http://tempuri.org/IOTAwareService/SendAck" message="tns:IOTAwareService_SendAck_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IOTAwareService/SendAckResponse" message="tns:IOTAwareService_SendAck_InputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="Synchronize">
      <wsdl:output wsaw:Action="http://tempuri.org/IOTAwareService/Synchronize" message="tns:IOTAwareService_Synchronize_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IOTAwareService/SynchronizeResponse" message="tns:IOTAwareService_Synchronize_InputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="Echo">
      <wsdl:output wsaw:Action="http://tempuri.org/IOTAwareService/Echo" message="tns:IOTAwareService_Echo_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IOTAwareService/EchoResponse" message="tns:IOTAwareService_Echo_InputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TcpEndpoint" type="tns:IOTAwareService">
    <wsp:PolicyReference URI="#TcpEndpoint_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="Register">
      <soap12:operation soapAction="http://tempuri.org/IOTAwareService/Register" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Send">
      <soap12:operation soapAction="http://tempuri.org/IOTAwareService/Send" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Hello">
      <soap12:operation soapAction="http://tempuri.org/IOTAwareService/Hello" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Forward">
      <soap12:operation soapAction="http://tempuri.org/IOTAwareService/Forward" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendAck">
      <soap12:operation soapAction="http://tempuri.org/IOTAwareService/SendAck" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Synchronize">
      <soap12:operation soapAction="http://tempuri.org/IOTAwareService/Synchronize" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Echo">
      <soap12:operation soapAction="http://tempuri.org/IOTAwareService/Echo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OTAwareService">
    <wsdl:port name="TcpEndpoint" binding="tns:TcpEndpoint">
      <soap12:address location="net.tcp://localhost:8036/OTService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8036/OTService</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>ARROW\Peter</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>